.nav {
  width: 100%;
  padding: 40px 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav div a {
  margin-left: 32px;
  display: flex;
  align-items: center;
}

.nav div a img {
  margin-left: 8px;
  fill: var(--text-muted);
}

.nav div {
  display: flex;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
}

.main section {
  margin-top: 20px;
  padding: 40px;
}

.subtitle {
  margin-top: 20px;
  opacity: 0.75;
  color: var(--text-muted);
}

.callout {
  margin-top: 32px;
  background-color: var(--alpha-primary);
  padding: 16px 12px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--dark-primary);
}

.callout span {
  color: var(--dark-primary);
}

.callout svg {
  fill: var(--dark-primary);
}

.logLists {
  padding-top: 60px;
}

.logLists ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.logLists li {
  list-style-type: none;
  margin: 0;
  padding: 8px 0px 8px 0px;
}

.sourceCard {
  padding: 20px;
  display: block;
  margin-top: 20px;
  border: 1px solid var(--border-gray);
  background-color: var(--background-gray);
  display: flex;
  width: 100%;
  text-align: left;
}

.sourceCard:hover {
  cursor: pointer;
  background-color: var(--hover-gray);
}

.sourceCardIcon {
  padding: 18px;
  background-color: var(--hover-gray);
  margin-right: 20px;
  height: 58px;
  width: 58px;
}

.sourceCardText {
  font-size: 20px;
  color: var(--text);
  font-weight: bold;
  display: block;
}

.sourceCardUrl {
  font-size: 20px;
  margin-top: 4px;
  color: var(--text-muted);
  display: block;
}

.search {
  padding: 16px 20px 16px 60px;
}

.search:focus {
  outline: none;
  border: 1px solid var(--primary);
}

.button {
  background-color: var(--primary);
  padding: 16px 20px 16px 20px;
  color: white;
  margin-left: 20px;
  border: none;
  box-shadow: none;
  font-size: 20px;
  font-weight: 400;
}

.button:hover {
  cursor: pointer;
  background-color: var(--dark-primary);
}

.button:disabled {
  cursor: pointer;
  opacity: 0.5;
}

.button svg {
  margin-right: 16px;
  vertical-align: bottom;
}

.buttonSecondary {
  margin-top: 24px;
  background-color: transparent;
  padding: 0;
  color: var(--text-muted);
  border: none;
  box-shadow: none;
  font-size: 20px;
  font-weight: 400;
}

.buttonSecondary:hover {
  cursor: pointer;
  color: var(--text);
}

.buttonSecondary svg {
  margin-right: 8px;
  vertical-align: text-bottom;
}

.label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 4px;
  width: 100%;
}

.label span:nth-child(2) {
  display: block;
  font-size: 16px;
  color: var(--text-muted);
  font-weight: normal;
  margin-bottom: 16px;
  margin-top: 4px;
}
