.nav {
  width: 100%;
  padding: 24px;
  display: flex;
  justify-content: space-between;
}

.nav a {
  margin-left: 24px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
}

.main section {
  padding: 24px;
}

.title {
  margin-top: 60px;
}

.subtitle {
  margin-top: 24px;
  opacity: 0.75;
}

.logLists {
  padding-top: 60px;
}

.logLists ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.logLists li {
  list-style-type: none;
  margin: 0;
  padding: 8px 0px 8px 0px;
}

.sourceCard {
  padding: 8px;
  border-radius: 8px;
  display: block;
  margin-top: 16px;
  border: 1px solid black;
}

.sourceCard:hover {
  background-color: gray;
}
